body {
    font-family: arial, Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
    background-color: aliceblue;
}
header {
    background-color: gray;
    color: aliceblue;
    padding: 10pc 20px;
    text-align: center;
}
nav {
    background-color: gray;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.main{
    flex: 3;
    background-color: #fff;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}